header {
    max-width: 1200px;
    margin: 50px 120px;
}

#banner-img-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("images/banner.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 505px;
    background-size: contain;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-text {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    width: 75%;
}

#banner-text h3 {
    font-size: 32px;
}

#banner-text h1 {
    font-size: 72px;
}